<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.zerocarbon.mapper.DeclarationMapper">
    
    <resultMap type="Declaration" id="DeclarationResult">
    	<id     property="id"      column="id"      />
    	<result property="managementName"      column="management_name"      />
    	<result property="managementType"      column="management_type"      />
    	<result property="title"      column="title"      />
        <result property="province"    column="province"    />
        <result property="unit"     column="unit"     />
        <result property="head"   column="head"   />
        <result property="contactNumber"    column="contact_number"    />
        <result property="projectType"    column="project_type"    />
        <result property="projectField"    column="project_field"    />
        <result property="projectProfile"    column="project_profile"    />
        <result property="briefDescription"    column="brief_description"    />
        <result property="innovation"    column="innovation"    />
        <result property="practicability"    column="practicability"    />
        <result property="exhibition"    column="exhibition"    />
        <result property="attachUrl"    column="attach_url"    />
        <result property="account"    column="account"    />
        <result property="userName"    column="user_name"    />
        <result property="saveType"    column="save_type"    />
        <result property="authorNumber"    column="author_number"    />
        <result property="regionSerial"    column="region_serial"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>
    
    <sql id="selectDeclaration">
        select *
		from declaration
    </sql>
    
    <select id="selectById" parameterType="Long" resultMap="DeclarationResult">
        <include refid="selectDeclaration"/>
        where id = #{id}
    </select>

    <select id="selectByAccount" parameterType="String" resultMap="DeclarationResult">
        <include refid="selectDeclaration"/>
        where account = #{account} limit 1;
    </select>

    <select id="countByRegion" resultType="Integer">
        select count(id)
		from declaration where province = #{province} and management_type = #{managementType};
    </select>
    
    <insert id="insert" parameterType="Declaration" useGeneratedKeys="true" keyProperty="id">
        insert into declaration (
			<if test="managementName != null and managementName != '' ">management_name,</if>
			<if test="managementType != null and managementType != '' ">management_type,</if>
			<if test="title != null and title != '' ">title,</if>
			<if test="province != null and province != '' ">province,</if>
			<if test="unit != null and unit != '' ">unit,</if>
			<if test="head != null and head != '' ">head,</if>
			<if test="contactNumber != null and contactNumber != '' ">contact_number,</if>
			<if test="projectType != null and projectType != '' ">project_type,</if>
			<if test="projectField != null and projectField != '' ">project_field,</if>
			<if test="projectProfile != null and projectProfile != '' ">project_profile,</if>
			<if test="briefDescription != null and briefDescription != '' ">brief_description,</if>
			<if test="innovation != null and innovation != '' ">innovation,</if>
			<if test="practicability != null and practicability != '' ">practicability,</if>
			<if test="exhibition != null and exhibition != '' ">exhibition,</if>
			<if test="attachUrl != null and attachUrl != '' ">attach_url,</if>
			<if test="account != null and account != '' ">account,</if>
			<if test="userName != null and userName != ''">user_name,</if>
			<if test="saveType != null and saveType != ''">save_type,</if>
            <if test="authorNumber != null and authorNumber != ''">author_number,</if>
            <if test="regionSerial != null and regionSerial != ''">region_serial,</if>
 			create_time
        )values(
			<if test="managementName != null and managementName != ''">#{managementName},</if>
			<if test="managementType != null and managementType != ''">#{managementType},</if>
			<if test="title != null and title != ''">#{title},</if>
			<if test="province != null and province != ''">#{province},</if>
			<if test="unit != null and unit != ''">#{unit},</if>
			<if test="head != null and head != ''">#{head},</if>
			<if test="contactNumber != null and contactNumber != ''">#{contactNumber},</if>
			<if test="projectType != null and projectType != ''">#{projectType},</if>
			<if test="projectField != null and projectField != ''">#{projectField},</if>
			<if test="projectProfile != null and projectProfile != ''">#{projectProfile},</if>
			<if test="briefDescription != null and briefDescription != ''">#{briefDescription},</if>
			<if test="innovation != null and innovation != ''">#{innovation},</if>
            <if test="practicability != null and practicability != ''">#{practicability},</if>
            <if test="exhibition != null and exhibition != ''">#{exhibition},</if>
			<if test="attachUrl != null and attachUrl != ''">#{attachUrl},</if>
			<if test="account != null and account != ''">#{account},</if>
			<if test="userName != null and userName != ''">#{userName},</if>
			<if test="saveType != null and saveType != ''">#{saveType},</if>
			<if test="authorNumber != null and authorNumber != ''">#{authorNumber},</if>
			<if test="regionSerial != null and regionSerial != ''">#{regionSerial},</if>
 			sysdate()
		)
    </insert>

    <select id="selectDecorationList" parameterType="com.ruoyi.project.zerocarbon.domain.vo.DeclarationVo" resultMap="DeclarationResult">
        <include refid="selectDeclaration"/>
        <where>
            <if test="managementName != null and managementName != ''">
                AND management_name like concat('%', #{managementName}, '%')
            </if>
            <if test="managementType != null and managementType != ''">
                AND management_type = #{managementType}
            </if>
            <if test="title != null and title != ''">
                AND title like concat('%', #{title}, '%')
            </if>
            <if test="region != null and region != '' and region != '全国'">
                AND province = #{region}
            </if>
            <if test="unit != null and unit != ''">
                AND unit like concat('%', #{unit}, '%')
            </if>
            <if test="head != null and head != ''">
                AND head like concat('%', #{head}, '%')
            </if>
            <if test="contactNumber != null and contactNumber != ''">
                AND contact_number like concat('%', #{contactNumber}, '%')
            </if>
            <if test="projectType != null and projectType != ''">
                AND project_type like concat('%', #{projectType}, '%')
            </if>
            <if test="projectField != null and projectField != ''">
                AND project_field like concat('%', #{projectField}, '%')
            </if>
            <if test="account != null and account != ''">
                AND account = #{account}
            </if>
            <if test="userName != null and userName != ''">
                AND user_name like concat('%', #{userName}, '%')
            </if>
            <if test="saveType != null and saveType != ''">
                AND save_type = #{saveType}
            </if>
            <if test="saveTypeList != null and saveTypeList.size() > 0">
                AND save_type in
                <foreach collection="saveTypeList" item="typeItem" open="(" separator="," close=")">
                    #{typeItem}
                </foreach>
            </if>
            <if test="authorNumber != null and authorNumber != ''">
                AND author_number = #{authorNumber}
            </if>
            <if test="regionSerial != null and regionSerial != ''">
                AND region_serial like concat('%', #{regionSerial}, '%')
            </if>
        </where>
        order by id desc
    </select>
	 
    <update id="updateById" parameterType="Declaration">
        update declaration
        <set>
            <if test="managementName != null and managementName != ''">management_name = #{managementName},</if>
            <if test="managementType != null and managementType != ''">management_type = #{managementType},</if>
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="province != null and province != ''">province = #{province},</if>
            <if test="unit != null and unit != ''">unit = #{unit},</if>
            <if test="head != null and head != ''">head = #{head},</if>
            <if test="contactNumber != null and contactNumber != ''">contact_number = #{contactNumber},</if>
            <if test="projectType != null and projectType != ''">project_type = #{projectType},</if>
            <if test="projectField != null and projectField != ''">project_field = #{projectField},</if>
            <if test="projectProfile != null and projectProfile != ''">project_profile = #{projectProfile},</if>
            <if test="briefDescription != null and briefDescription != ''">brief_description = #{briefDescription},</if>
            <if test="innovation != null and innovation != ''">innovation = #{innovation},</if>
            <if test="practicability != null and practicability != ''">practicability = #{practicability},</if>
            <if test="exhibition != null and exhibition != ''">exhibition = #{exhibition},</if>
            <if test="attachUrl != null and attachUrl != ''">attach_url = #{attachUrl},</if>
            <if test="account != null and account != ''">account = #{account},</if>
            <if test="userName != null and userName != ''">user_name = #{userName},</if>
            <if test="saveType != null and saveType != ''">save_type = #{saveType},</if>
            <if test="authorNumber != null and authorNumber != ''">author_number = #{authorNumber},</if>
            <if test="regionSerial != null and regionSerial != ''">region_serial = #{regionSerial},</if>
 			update_time = sysdate()
        </set>
        where id = #{id}
    </update>
	
    <delete id="deleteById" parameterType="Long">
        delete from declaration where id = #{id}
    </delete>
    
</mapper>